<div class="addPostContainer">
    <form [formGroup]="addPostForm" (ngSubmit)="addNewPost()">
        <div class="addPostTitle">
            <label for="title" class="titleLabel">Title of Post: </label>
            <input id="title" placeholder="Title of new post" type="text" formControlName="title" required/>

            <!--Validation div-->
            <div *ngIf="title.invalid">
                <div class="warningText">Title is required!</div>
            </div>

        </div>
        <div class="addPostContent">
            <label for="content" class="contentLabel">Content:</label>
            <textarea id="content" placeholder="Insert content here..." formControlName="content" required></textarea>

            <!--Validation div-->
            <div *ngIf="content.invalid">
                <div class="warningText">Content is required!</div>
            </div>

        </div>

        <button type="submit" [disabled]="addPostForm.invalid">Create new Post</button>
    </form>    
</div>