<div class="updateBlog">

    <div class="updateBlogForm">

        <h3>Edit blog: {{blog.title}}</h3>
        <a routerLink="../../"><i class="fas fa-backward"></i> Go back!</a>
        <hr class="line">

        <form [formGroup]="updateBlogForm" (ngSubmit)="updateBlog()">
            
            <div class="addTitleDiv">
                <label for="title" class="titleLabel">Title of Blog: </label>
                <input id="title" placeholder="{{blog.title}}" type="text" formControlName="title" required/>

                <!--Validation div-->
                <div *ngIf="title.invalid" class="test">
                    <div class="warningText">Title is required!</div>
                </div>
            </div>

            <button type="submit" [disabled]="updateBlogForm.invalid" class="submitBtn">Edit blog</button>
        </form>

    </div>


</div>

