.addCommentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .addCommentContent {
        margin-top: 3%;
        margin-bottom: 3%;
        display: flex;
        flex-direction: column;
        width: 300px;

        .contentLabel {
            font-weight: bold;
            font-style: italic;
        }

        .warningText {
            color: #eb605e;
            font-weight: bold;
        }

        textarea {
            height: 50px;
            
            margin-top: 3%;
            margin-bottom: 3%;

            padding: 5%;
        }
    }

}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}