<div class="addCommentContainer">
    <form [formGroup]="addCommentForm" (ngSubmit)="addNewComment()">
        <div class="addCommentContent">
            <label for="content" class="contentLabel">Content:</label>
            <textarea id="content" placeholder="Insert comment content here..." formControlName="content" required></textarea>

            <!--Validation div-->
            <div *ngIf="content.invalid">
                <div class="warningText">Content is required!</div>
            </div>

        </div>

        <button type="submit" [disabled]="addCommentForm.invalid">Create new Comment</button>
    </form>

</div>