<div class="postContainer">
    <div class="showPostInfo" (click)="showPostDetails()">

        <div class="title">
            <h3>{{post.title}}</h3>
        </div>

        <div class="dates">
            <p><i class="far fa-calendar-alt"></i> Created: {{post.created | date: 'longDate' }}</p>
            <p><i class="far fa-comments"></i> Total comments: {{post.comments.length}}</p>
        </div>
    </div>
    <div class="updateDeleteButtonsDiv">
        <button (click)="deletePost()" class="btn-flip" data-back='post' data-front="Delete"></button>
        <button (click)="redirectToUpdatePost()" class="btn-flip" data-back='post' data-front="Edit"></button>
    </div>
</div> 