.postContainer {

    border: 5px solid black;
    padding: 3%; 
    transition: border .5s ease-in-out;

    .showPostInfo {
        padding: 3%;
        cursor: pointer;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .dates {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 50px;
        }

    }

    .updateDeleteButtonsDiv {
        padding-left: 3%;
    }
}

.postContainer:hover {
    border: 5px solid red;
    transition: border .5s ease-in-out;
}