<div class="blogContainer">
    <div class="showBlogInfo"  (click)="showBlogDetails()">

        <div class="title">
            <h2>{{blog.title}}</h2>
        </div>

        <div class="dates">
            <p><i class="far fa-calendar-alt"></i> Created: {{blog.created | date: 'longDate' }}</p>
            <p><i class="fas fa-pencil-alt"></i> Total posts: {{blog.posts.length}}</p>
        </div>

    </div>
    <div class="updateDeleteButtonsDiv">
        <button (click)="deleteBlog()" class="btn-flip" data-back='blog' data-front="Delete"></button>
        <button (click)="redirectToUpdateBlog()" class="btn-flip" data-back='blog' data-front="Edit"></button>
    </div>
</div>