.blogContainer{
    padding: 3%; 
    border: 5px solid black;

    .showBlogInfo {
        padding: 3%;
        cursor: pointer;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .dates {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 50px;
        }

    }
    .updateDeleteButtonsDiv {
        padding-left: 3%;
    }
}